.login-txt{
    margin-left: 410px;
    color: #034f32;
    margin-top: -20px;
    font-size: 35px;

}
.login-small{
     margin-left: 410px;
    color: #034f32;
    margin-top: -20px;
}
.form-login1{
    display: none;
}
.form-login{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: -170px;
    margin-top: -20px;
}
.username-login,
.password-login,
.submit-btn {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
  border: 1px solid #6A9C89;
  margin-top: 10px;
  outline: none;
}

.submit-btn {
  background-color: #FFA725;
  color: #034f32;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #ffba53;
}
.login-error{
    letter-spacing: 2.5px;
    margin-left: 410px;
    color: #034f32;
}


@media (max-width: 600px) {
  .form-img {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .login-txt{
    color: #034f32;
    letter-spacing: 3.5px;
    font-weight: 1000;
    margin-left: 45px;
    margin-top: 40px;
  }
  .login-small{
    color: #034f32;
    margin-left: 45px;
    margin-top: -20px;
    letter-spacing: 0.5px;
  }
  .form-login{
      margin-left: 20px;
      margin-top: 20px;
  }
  .form-login1{
     display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  .username-login1,
  .password-login1,
  .submit-btn1 {
    max-width: 300px;    
    outline: none;
      width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
  border: 1px solid #6A9C89;
  margin-top: 10px;
  }
  
.submit-btn1 {
  background-color: #FFA725;
  color: #034f32;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}

.submit-btn1:hover {
  background-color: #ffba53;
}
.signin-pic{
    display: none;
}
  .signin-pic1 img {
    max-width: 75%;
    position: relative;
  }
}
