
  body {
 overflow-x: hidden;
  min-height: 100vh; }
.about-vid {
    width: 400px;
    height: auto;
    margin-left: 820px;
    border-radius: 20px;
    position: absolute;
    margin-top: -360px;
}

.about-txt{
    margin-left: 230px;
    margin-top: -30px;
    color: #FFA725;
}
.who {
    margin-left: 30px;
    margin-top: 40px;
    font-size: 22px;
    color: #6A9C89;
}
.who-txt{
    margin-left: 20px;
    margin-top: 15px;
    background-color: #C1D8C3;
    width: 600px;
    height: 160px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 15px;
}
.why{
    font-size: 22px;
    margin-left: 30px;
    color: #6A9C89;
    margin-top: 20px;

}
.why-txt{
    margin-left: 20px;
    background-color: #C1D8C3;
    width: 600px;
    height: 160px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 15px;

}
.values-txt{
    margin-left: 30px;
    font-size: 22px;
    color: #6A9C89;
}
.add-values{
    display: flex;
    margin-left: 20px;
    margin-bottom: 40px;
}
.value1{
    width: 270px;
    height: 140px;
    background-color: #C1D8C3;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
.value2{
    width: 200px;
    height: 140px;
    background-color: #C1D8C3;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 60px;
}
.value3{
    width: 220px;
    height: 140px;
    background-color: #C1D8C3;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 60px;
}
.who-mobile{
    display: none;
}
.why-mobile{
    display: none;
}
@media (max-width: 600px) {
  .about-wrapper{
   display: flex;
  flex-direction: column; 
      min-height: 100vh;

  }
  .who-mobile,
  .why-mobile {
    display: block;
    font-size: 16px;
    background-color: #C1D8C3;
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
  }

  .about-txt {
    margin-top: 20px;
    font-size: 18px;
    margin-left: 16px;
  }

  .about-cont img {
    display: none;
  }

  .why {
    margin-top: 40px;
  }

  .who {
    font-size: 18px;
  }

  .who-txt,
  .why-txt {
    display: none;
  }

  .add-values {
    display: block;
    margin-top: 20px;
  }
  .value1,
  .value2,
  .value3 {
    margin-top: 20px;
    width: 70%;
  }
  .value2,
  .value3{
    margin-left: -0.5px;
  }
}


