.dashboard{
    display: flex;
    justify-content: space-between;
}
.logo {
    max-width: 15%;
    max-height: 15%;
    margin-top: -48px;
}
.li-items {
    display: flex;
    margin-right: 120px;
    margin-top: 30px;
   
}
.li-items li {
    list-style: none;
    margin-left: 40px;
}
.li-items li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #6A9C89;
}
.dash-icons{
    margin-top: 30px;
    margin-right: 40px;
    display: flex;
    
}
.dash-icons a {
    text-decoration: none;
    color: #FFA725;
    font-size: 25px;
}

.share{
    margin-right: 30px;
    background-color: transparent;
    color: #FFA725;
    border: none;
    font-size: 22px;
    margin-top: -74px;
}
.mobile-menu {
    display: none;
    position: relative;
  }
.logout-button{
    background-color: transparent;
    margin-right: 30px;
}
@media (max-width: 600px) {
    .logo{
        margin-top: -20px;
    }
  .dashboard {
    display: flex;
  }

  .li-items {
    display: none;
  }

  .mobile-menu {
    display: block;
    margin-top: 20px;
  }

  .dropdown-menu {
    width: 120px;
    height: auto;
    border-radius: 15px;
    border: 1px solid #6A9C89;
    background-color: #6A9C89;
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    padding: 10px;
  }

  .dropdown-menu ul {
    padding: 0;
    margin: 0;
  }

  .dropdown-menu li {
    list-style: none;
    padding: 8px 0;
  }

  .dropdown-menu li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #FFA725;
  }

  .home-icon {
    width: 34px;
    height: 34px;
    background-color: transparent;
    margin-top: 8px;
    color: #FFA725;
    font-size: 32px;
    border: none;
  }

  .dashboard img {
    margin-top: -26px;
    max-width: 25%;
  }

  .dash-icons {
    margin-left: 20px;
  }

  .dash-icons button {
    width: 25px;
    height: 25px;
  }

  .dash-icons a {
    font-size: 24px;
  }

  .prof-icon {
    width: 30px;
    height: 30px;
  }

  .share {
    position: relative;
    margin-top: 2px;
    margin-left: 10px;
  }
}
