body{
  background: linear-gradient(090deg,#D9EDBF, #FAEDCA);
  min-height: 100vh;
}
.contact-txt{
    font-size: 26px;
    margin-left: 40px;
    color: #FFA725;
}
.contact-s{
    margin-left: 40px;
    color: #FFA725;
    letter-spacing: 2.5px;
}

.contact-form{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.contact-name{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border: solid 1px #FFA725;
    background-color: transparent;
    outline: none;
}
.contact-name::placeholder{
    padding-left: 5px;
        color: #016841;

}
.contact-email{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border: solid 1px ;
    margin-top: 30px;
    border: solid 1px #FFA725;
        background-color: transparent;
        color: #016841;
    outline: none;
}
.contact-email::placeholder{
    padding-left: 5px;
        color: #016841;

}
.contact-select{
    width: 204px;
    height: 25px;
    border-radius: 10px;
    border: solid 1px ;
    margin-top: 10px ;
    margin-top: 30px;
    border: solid 1px #FFA725;
    padding-left: 5px;
    outline: none;
    background-color: transparent;
    color: #016841;

}
.contact-select option {
    background-color: #FFA725;
    border: none;
}
.contact-content{
    width: 250px;
    height: 100px;
    border-radius: 10px;
    border: solid 1px ;
    margin-left: 60px;
    border: solid 1px #FFA725;
    background-color: transparent;
     color: #016841;
    outline: none;
}
.contact-content::placeholder {
    padding-left: 10px;
    padding-top: 5px;
    color: #016841;

}
.contact-btn{
    width: 255px;
    height: 25px;
    border-radius: 10px;
    border: solid 1px ;
    margin-top: 10px ;
    margin-left: 60px;
    background-color: transparent;
    background-color: #FFA725;
    border: none;
    color: #016841;
    font-weight: bold;
    font-size: 18px;
}
.contact-form{
    display: flex;
}
.line{
    margin-left: 20px;
    color: #FFA725;
}
.contact-infos{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.contact-infos strong {
    color: #6A9C89;
}
.sm-txt{
    margin-left: 20px;
    margin-top: 20px;
    color: #FFA725;
}
.socialmedia{
    margin-left: 20px;
    margin-top: 60px;
}
.socialmedia a {
    color: #FFA725;
    margin-left: 30px;
    font-size: 24px;
}
.contact-img img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    
}
.contact-img{
    margin-left: 800px;
    margin-top: -280px;
}
.navigateto{
    margin-left: 300px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.navigateto strong {
    color: #FFA725;
}
.navigateto small {
    color: #6A9C89;
}
.share-sec{
    margin-top: 10px;
}
.collab-sec{
    margin-top: -10px;
}
.tell-btn{
    margin-left: 20px;
    width: 100px;
    height: 20px;
    background-color: transparent;
    border: solid 1px #6A9C89;
    border-radius: 5px;
}
.collab-btn{
    margin-left: 20px;
    width: 100px;
    height: 20px;
    background-color: transparent;
    border: solid 1px #6A9C89;
    border-radius: 5px;
}
.links-btns{
    display: flex;
    margin-top: 20px;
}
.sm-icons{
    margin-top: 20px;
}
.contact-mobile{
    display: none;
}

.txt{
    display: none;
}
.txt-s{
    display: none;
}
.nav-mobile{
    display: none;
}

@media (max-width: 600px){

    .contact-img img{
        display: none;
    }
 
    .contact-txt p {
        margin-left: 20px;
    }
    .txt{
        font-size: 24px;
        margin-left: -5px;
        color: #FFA725;
    }
    .contact-form{
        display: none;
    }
   .contact-mobile{
    margin-top: 350px;
}
  
  
    .contact-mobile{
        display: block;
        margin-left: 20px;
    }
    .contact-mobile input {
        margin-left: 10px;
        background-color: transparent;
        color: #016841;
        outline: none;
    }
    .contact-n{
        margin-top: 20px;
    }
    .contact-content{
        width: 300px;
        margin-top: 10px;
        margin-left: -10px;
        margin-left: 10px;
        padding-left: 2px;
        outline: none;
    }
    .contact-btn{
        margin-left: 10px;
        width: 301px;

    }
    .contact-btn:hover{
        background-color: #efb969;
    }
    .contact-n{
        width: 300px;
        height: 25px;
        border-radius: 10px;
        border: solid 1px #FFA725;
        padding-left: 10px;
    }
    .contact-n::placeholder{
        color: #016841;
    }
    .contact-e{
        width: 300px;
        height: 25px;
        border-radius: 10px;
        border: solid 1px #FFA725;
        margin-top: 10px;
        padding-left: 10px;
    }
    .contact-e::placeholder{
        color: #016841;
    }
    .contact-slc{
        width: 300px;
        height: 25px;
        border-radius: 10px;
        border: solid 1px #FFA725;
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 10px;
        background-color: transparent;
        color: #016841;
        outline: none;
    }
  
   .socialmedia{
    margin-top: 60px;
   }

    .share-mob {
        margin-top: 20px;
    }
    .tell-btn{
        width: 150px;
        height: 30px;
        color: #FFA725;
        font-weight: bold;
        margin-left: 5px;
        margin-top: -40px;
    }
    .collab-btn{
        width: 150px;
        height: 30px;
        margin-left: -5px;
        color: #FFA725;
        font-weight: bold;
        margin-left: 5px;
    }
    .links-btns{
        flex-direction: column;
    }
    .navigateto{
        margin-left: -5px;
        margin-left: 40px;
        padding-top: 10px;
    }
    .navigateto button {
        margin-top: 10px;
        background-color: #FFA725;
        border: none;
        color: #016841;
        letter-spacing: 1px;
    }
    .contact-infos{
        margin-left: 30px;
    }


}